.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}
.product {
	/* background-color: var(--card); */
	width: 250px;
	margin: 1rem;
	border-radius: 0.4rem;
	overflow: hidden;
	transition: transform 0.2s;
	position: relative;
}
.product-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
